.country-wrap {
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;

  .street {
  	background:$brown	 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAAUVBMVEWFhYWDg4N3d3dtbW17e3t1dXWBgYGHh4d5eXlzc3OLi4ubm5uVlZWPj4+NjY19fX2JiYl/f39ra2uRkZGZmZlpaWmXl5dvb29xcXGTk5NnZ2c8TV1mAAAAG3RSTlNAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEAvEOwtAAAFVklEQVR4XpWWB67c2BUFb3g557T/hRo9/WUMZHlgr4Bg8Z4qQgQJlHI4A8SzFVrapvmTF9O7dmYRFZ60YiBhJRCgh1FYhiLAmdvX0CzTOpNE77ME0Zty/nWWzchDtiqrmQDeuv3powQ5ta2eN0FY0InkqDD73lT9c9lEzwUNqgFHs9VQce3TVClFCQrSTfOiYkVJQBmpbq2L6iZavPnAPcoU0dSw0SUTqz/GtrGuXfbyyBniKykOWQWGqwwMA7QiYAxi+IlPdqo+hYHnUt5ZPfnsHJyNiDtnpJyayNBkF6cWoYGAMY92U2hXHF/C1M8uP/ZtYdiuj26UdAdQQSXQErwSOMzt/XWRWAz5GuSBIkwG1H3FabJ2OsUOUhGC6tK4EMtJO0ttC6IBD3kM0ve0tJwMdSfjZo+EEISaeTr9P3wYrGjXqyC1krcKdhMpxEnt5JetoulscpyzhXN5FRpuPHvbeQaKxFAEB6EN+cYN6xD7RYGpXpNndMmZgM5Dcs3YSNFDHUo2LGfZuukSWyUYirJAdYbF3MfqEKmjM+I2EfhA94iG3L7uKrR+GdWD73ydlIB+6hgref1QTlmgmbM3/LeX5GI1Ux1RWpgxpLuZ2+I+IjzZ8wqE4nilvQdkUdfhzI5QDWy+kw5Wgg2pGpeEVeCCA7b85BO3F9DzxB3cdqvBzWcmzbyMiqhzuYqtHRVG2y4x+KOlnyqla8AoWWpuBoYRxzXrfKuILl6SfiWCbjxoZJUaCBj1CjH7GIaDbc9kqBY3W/Rgjda1iqQcOJu2WW+76pZC9QG7M00dffe9hNnseupFL53r8F7YHSwJWUKP2q+k7RdsxyOB11n0xtOvnW4irMMFNV4H0uqwS5ExsmP9AxbDTc9JwgneAT5vTiUSm1E7BSflSt3bfa1tv8Di3R8n3Af7MNWzs49hmauE2wP+ttrq+AsWpFG2awvsuOqbipWHgtuvuaAE+A1Z/7gC9hesnr+7wqCwG8c5yAg3AL1fm8T9AZtp/bbJGwl1pNrE7RuOX7PeMRUERVaPpEs+yqeoSmuOlokqw49pgomjLeh7icHNlG19yjs6XXOMedYm5xH2YxpV2tc0Ro2jJfxC50ApuxGob7lMsxfTbeUv07TyYxpeLucEH1gNd4IKH2LAg5TdVhlCafZvpskfncCfx8pOhJzd76bJWeYFnFciwcYfubRc12Ip/ppIhA1/mSZ/RxjFDrJC5xifFjJpY2Xl5zXdguFqYyTR1zSp1Y9p+tktDYYSNflcxI0iyO4TPBdlRcpeqjK/piF5bklq77VSEaA+z8qmJTFzIWiitbnzR794USKBUaT0NTEsVjZqLaFVqJoPN9ODG70IPbfBHKK+/q/AWR0tJzYHRULOa4MP+W/HfGadZUbfw177G7j/OGbIs8TahLyynl4X4RinF793Oz+BU0saXtUHrVBFT/DnA3ctNPoGbs4hRIjTok8i+algT1lTHi4SxFvONKNrgQFAq2/gFnWMXgwffgYMJpiKYkmW3tTg3ZQ9Jq+f8XN+A5eeUKHWvJWJ2sgJ1Sop+wwhqFVijqWaJhwtD8MNlSBeWNNWTa5Z5kPZw5+LbVT99wqTdx29lMUH4OIG/D86ruKEauBjvH5xy6um/Sfj7ei6UUVk4AIl3MyD4MSSTOFgSwsH/QJWaQ5as7ZcmgBZkzjjU1UrQ74ci1gWBCSGHtuV1H2mhSnO3Wp/3fEV5a+4wz//6qy8JxjZsmxxy5+4w9CDNJY09T072iKG0EnOS0arEYgXqYnXcYHwjTtUNAcMelOd4xpkoqiTYICWFq0JSiPfPDQdnt+4/wuqcXY47QILbgAAAABJRU5ErkJggg==);
  	height:80px;
  	width:102%;
  	position:absolute;
  	bottom:0;
		left:0;
  	box-shadow:0 1px 16px rgba(111, 35, 51, 0.4) inset;
    &:after {
    	content:'';
    	display:block;
    	position:absolute;
    	width:100%;
    	height:10px;
    	background:$street-shadow;
    	bottom:0;
    	border-bottom:3px solid $brown;
    	z-index:1;
    }
    &:before {
    	content:'';
    	display:block;
    	position:absolute;
    	width:100%;
    	height:7px;
    	background:$light-brown;
    	bottom:-7px;
    	z-index:1;
    }
  }

  .toll-fee {
    position: absolute;
    z-index: 1;
    background: $grey;
    height: 84px;
    width: 20px;
    left: 175px;
    bottom: -4px;

     p {
      transform: rotate(90deg);
      width: 72px;
      margin: 0;
      top: 29px;
      position: absolute;
      left: -26px;
      right: 0;
      color: white;
      font-weight: bold;
    }
  }

  .street-stripe {
  	background:$light-grey;
  	height:8px;
  	width:100px;
  	position:absolute;
  	bottom:44px;
  	border-radius:2px;
  	box-shadow:200px 0 0 $light-grey, 400px 0 0 $light-grey , 600px 0 0 $light-grey , 800px 0 0 $light-grey , 1000px 0 0 $light-grey , 1200px 0 0 $light-grey , 1400px 0 0 $light-grey , 1600px 0 0 $light-grey , 1800px 0 0 $light-grey , 2000px 0 0 $light-grey;
  }

  .grass {
  	height: 40px;
  	width: 100%;
  	background-color: $light-brown;
  	position:absolute;
  	bottom:60px;
		left:0;

	  &:before {
	      position: absolute;
	      content: '';
	  	   top: 14px;
	      left: 0;
	      height: 8px;
	      width: 100%;
	    	background-color: $light-brown;
	  }
	  &:after {
	    position: absolute;
	    content: '';
	    top: -4px;
	    left: 0;
	    width: 100%;
	    height: 8px;
	    background-color: $turquoise;
	    background: linear-gradient(135deg, transparent 25%, $turquoise 25%);
	    background-size:10px 10px;
	  }
	}
  .sun {
  	background:$orange;
  	width:40px;
  	height:40px;
  	border-radius:50%;
  	box-shadow:0 0 50px rgba(255,153,68,0.7);
  	position:absolute;
  	left:49%;
  	bottom:350px;
  }
}
