/*! HEADER STYLES */

#header {
  margin:0;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background: white;
  padding: 2%;
  text-align: center;
} /*Close #header*/
