/*! HEADER STYLES */

#header {
  margin: 0;
  overflow: hidden;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  background: white;
  text-align: center;
  padding: 2%;
  box-sizing: border-box;
  height: auto;
  position: relative;
} /*Close #header*/
